In [1]:
import pandas as pd

In [4]:
xrp = pd.read_pickle('./Data/Raw/XRPDataSet.pkl')

In [6]:
xrp = pd.read_pickle('./Data/Cleaned/xrp_price_data_hourly.pkl')

In [7]:
xrp.head()

,close,high,low,open,time,volumefrom,volumeto
0,0.6478,0.6578,0.6419,0.6531,2018-04-13 04:00:00,10155756.47,6618499.29
1,0.6387,0.6479,0.6387,0.6479,2018-04-13 05:00:00,5368569.53,3451785.79
2,0.6481,0.6488,0.6340,0.6387,2018-04-13 06:00:00,6594166.84,4221667.69
3,0.6487,0.6549,0.6445,0.6481,2018-04-13 07:00:00,6252726.99,4065197.33
4,0.6872,0.6936,0.6475,0.6487,2018-04-13 08:00:00,18951857.07,12719700.76